.THIS{
    font-family: 'Raleway', sans-serif;
}

.THIS .hero {
     height: 342px;
     margin: 0;
     position: relative;
     overflow: hidden;
     z-index: 1;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
     background-size: cover;
     -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
     clip-path: polygon(0 0, 102% 0, 100% 90%, 0 100%);
}
 .THIS .container {
     margin: 0 auto;
     width: 100%;
     border-radius: 5px;
     position: relative;
}
 .THIS .details {
     padding: 190px 0 0 350px;
}
 .THIS .cover {
     position: absolute;
     top: 160px;
     left: 40px;
     z-index: 2;
     width: 250px;
}
 .THIS .details .title1 {
     color: white;
     font-size: 44px;
     margin-bottom: 13px;
     position: relative;
}
 .THIS .title1 {
     color: white;
     font-size: 44px;
     margin-bottom: 13px;
     position: relative;
         text-shadow: 0 0 20px black;
             font-weight: bold;
}
 .THIS .title1 span {
     position: absolute;
     top: 3px;
     margin-left: 12px;
     background: #C4AF3D;
     border-radius: 5px;
     color: #544C21;
     font-size: 14px;
     padding: 0px 4px;
}
 .THIS .title2 {
     color: #ffffff;
     font-size: 23px;
     font-weight: 300;
     margin-bottom: 15px;
         font-weight: 600;
         text-shadow: 0 0 20px black;
         font-weight: bold;
}
 .THIS .details .title2 {
     color: #C7C1BA;
     font-size: 23px;
     font-weight: 300;
     margin-bottom: 15px;
}
 .THIS .tag {
     background: rgba(247, 126, 57, 0.78);
     border-radius: 10px;
     padding: 3px 8px;
     font-size: 14px;
     margin-right: 4px;
     line-height: 35px;
     cursor: pointer;
     color: #3f3f3f;
    margin: 5px 0;
}

 .THIS .column1 {
     padding-left: 38px;
         padding-top: 203px;
         width: 290px;
         float: left;
         text-align: center;
}

 .THIS .column1 img{
    margin-right: 4px;
    max-height: 25px;
}

 .THIS .column2 {
        padding-left: 0px;
        padding-top: 30px;
        margin-left: 40px;
        width: 75%;
        float: left;
        text-align: justify;
}
 .THIS .description {
     bottom: 0px;
     height: min-content;
     font-size: 16px;
     line-height: 26px;
     color: #B1B0AC;
}
 .THIS .slds-card__header{
     padding: 0 !important;
     margin: 0 !important;
}
 .THIS .slds-card__body{
     margin: 0 !important;
}

.THIS .actorsContainer {
    display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        width: 100%;
        justify-items: center;
            height: 350px;
            overflow: scroll;
                gap: 30px;
             padding: 30px 0;
}

.THIS .actorsMoviesContainer{
display: grid;    grid-template-columns: 1fr 1fr;
    width: 100%;
    align-items: center;
    justify-items: center;
}
.THIS .actorsMoviesContainer article:first-child{
margin-top: 16px;
}

.THIS .actorsMoviesContainer article:first-child h1 {
    display: block !important;
    margin-bottom: 30px;
}

.THIS .actorsMoviesContainer article:nth-child(2) {
    margin-top: 97px;
}

.THIS .actorsMoviesContainer h1{
     display: none;
}
 .THIS h1{
     font-size: 24px;
     font-weight: 600;
     margin-top: 15px;
     position: relative;
     margin-left: 45px;
}
 .THIS h1:before{
     height: 100%;
     width: 40px;
     content: '';
     position: absolute;
     background: #f77f3a;
     left: -45px;
}