.slds-card__header.slds-grid {
    display: none;
}

.inputsContainer{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.inputsRightContainer, .inputsLeftContainer{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 280px;
}

.comboboxContainer{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

lightning-combobox.slds-form-element{
    width: 350px;
}
